* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ddd;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 0px 15px;
}
header h1 {
    margin: 0px;
    color: green;
}

nav {
    border: 1px solid blue;
    margin-right: 8rem;;
}

nav > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
nav > ul > li {
    position: relative;
    padding: 25px 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:active {
    color: red;
}
/* nav ul li a:visited {
    color: red;
} */
nav ul li a:hover {
    color: green;
}

.dropDown-menu {
    position: relative;
}

/*
 clever stuff to put arrows in the menu. 
 */

 /* Down-pointing triangle. */
 nav > ul > .dropDown-menu:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    top: 30px;
    right: 0px;
}

/* Up-pointing triangle. */
nav > ul > .dropDown-menu:hover:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent green transparent;
}

/* Selector indicates a drop-down with at at least one child. */
nav > ul > .dropDown-menu .dropDown-menu {
    border: 2px solid orange;
}

/* Right-pointing triangle -- after drop-down with at least one child. */
nav > ul > .dropDown-menu .dropDown-menu:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #666;
    position: absolute;
    top: 16px;
    right: 10px;
}

/* Left-pointing triangle. */
nav > ul > .dropDown-menu .dropDown-menu:hover:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent #666 transparent transparent;
} 


nav .dropDown-menu > ul {
    list-style: none;
    margin: 24px 0px 0px;
    padding: 12px 0px;
    position: absolute;
    background-color: aqua;
    min-width: 200px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
    display: none;
}

nav .dropDown-menu.push-left> ul {
    right: 0px;
}    

/* Position second-level child to the right. */
nav .dropDown-menu .dropDown-menu > ul {
    margin: 0px 0px 0px;
    left: 100%;
    top: -10px;
}

/* Position second-level child to left. */
nav .dropDown-menu .dropDown-menu.left > ul {
    left: auto;
    right: 100%;
}

/* Show any dropdown menu on hover. */
nav .dropDown-menu:hover > ul {
    display: block;
}

/* Make the li anchor tags block-level
   This lets a menu item row"have padding and
   makes the entire row clickable.
*/
nav .dropDown-menu li a {
    display: block;
    padding: 12px 12px;
}

/* 
  rp added:
 */

 nav > ul > .dropDown-menu {
    background-color: aqua;
 }

 nav > ul > .dropDown-menu .dropDown-menu {
    background-color: pink;
 }


/* Color the menu item on hover */
nav .dropDown-menu li a:hover {
    /* display: block;
    padding: 12px 12px; */
    background-color: darkgray;
    color: white;
}

