:root {
    --gray-4: #ced4da;
    --stone-9: #50514f;
    --stone-7: #7e8282;
    --size-3: 1rem;
    --size-4: 1.25rem;
    --size-2: .5rem;
    --teal-7: #0ca678;
    --red-8: #e03131;
    --gray-0: #f8f9fa;
    --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    --size-8: 3rem;
    --size-7: 2rem;
    --size-6: 1.75rem;
    --size-5: 1.5rem;
    --orange-7: #f76707;
    --green-7: #37b24d;
    --gray-1: #f1f3f5;
    --gray-5: #adb5bd;
    --size-1: .25rem;
    --gray-3: #dee2e6;
    --shadow-3: 
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
    --red-7: #f03e3e;
    --shadow-color: 220 3% 15%;
    --shadow-strength: 1%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --page-background-color: var(--gray-4);
    --text-dark-color: var(--stone-9);
    --text-color-input: var(--stone-7);

    --input-element-spacing: var(--size-3);

    --space-after-h1: var(--size-4);
    --paragraph-spacing: var(--size-2);

    --paragraph-text-size: 1.125rem;

    --text-size-input: var(--size-4);
    --text-size-small: var(--size-3);

    --color-ok: var(--teal-7);

    --small-radius: 5px;

    --error-background-color: var(--red-8);
    --error-foreground-color: var(--gray-0);

}


body {
    background-color: var(--page-background-color);
    color: var(--text-dark-color);
    font-family: var(--font-sans);
}


:root {
    --h1-size: var(--size-8);
    --h2-size: var(--size-7);
    --h3-size: var(--size-6);
    --h4-size: var(--size-5);
    --h5-size: var(--size-4);
}


:where(h1) {
    font-size: var(--h1-size);
    margin-bottom: var(--space-after-h1);
}


:where(h2) {
    font-size: var(--h2-size);
    margin-top: calc(var(--paragraph-spacing) + .8rem);
    margin-bottom: var(--paragraph-spacing);
}


:where(h3) {
    font-size: var(--h3-size);
    margin-top: calc(var(--paragraph-spacing) + .8rem);
    margin-bottom: var(--paragraph-spacing);
}


:where(h4) {
    font-size: var(--h4-size);
    margin-top: calc(var(--paragraph-spacing) + .8rem);
    margin-bottom: var(--paragraph-spacing);
}


:where(h5) {
    font-size: var(--h5-size);
    margin-top: calc(var(--paragraph-spacing) + .8rem);
    margin-bottom: var(--paragraph-spacing);
}


p {
    font-size: var(--paragraph-text-size);
}


.small-text {
    font-size: calc(var(--paragraph-text-size) - .15rem);
}


p {
    margin-bottom: var(--paragraph-spacing);    
}


input {
    font-size: var(--text-size-input);
    color: inherit;
}


:where(a) {
    color: var(--accent-color);
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 1px;
    text-underline-position: under;
    font-weight: 500;    
}


:where(a:hover) {
    text-decoration-thickness: 3px;
}


/* @custom-media --small-screen (width < 1600px); */


/* @import "./_page.css";   */


div.main {
    display:flex;
    justify-content: center;
}


section.input-panel h1 {
        font-size: var(--h3-size);
    }


section.input-panel fieldset {
        background-color: var(--gray-1); 
        border: none;
        border-radius: var(--small-radius);
        padding: 1rem; 
        width: 500px;
    }


section.input-panel fieldset label > span {
            display: block;
            margin-bottom: .4rem;
            font-size: var(--text-size-input);
        }


section.input-panel fieldset input[type=text], section.input-panel fieldset input[type=email] {
                background-color: var(--gray-1); 

                padding: .4rem;
                color: var(--text-color-input);
                width: 96%; 
                /*border-radius: var(--small-radius); */ 
                border-radius: 0;
                border-width: 0;
                border-bottom: 1px solid gray;                
            }


section.input-panel fieldset input[type=text]:focus, section.input-panel fieldset input[type=email]:focus {
                    outline: none;
                    /* background-color: var(--teal-1); */
                    background-color: white;
                    color: var(--text-dark-color);
                }


section.input-panel fieldset input[type=text]::placeholder, section.input-panel fieldset input[type=email]::placeholder {
                    color: var(--gray-5);
                }


section.input-panel fieldset input[type=text][required], section.input-panel fieldset input[type=email][required] {
                    /* border: 1px solid var(--red-3); */
                }


section.input-panel fieldset input[type=text]:is([required]):not(:placeholder-shown), section.input-panel fieldset input[type=email]:is([required]):not(:placeholder-shown) {
                    /* border: 1px solid var(--teal-3);
                    background-color: var(--teal-1); */
                }


section.input-panel fieldset div.error-message {
            display: flex;
            align-items: center;
            padding: calc(var(--size-1) / 2) ;
        }


section.input-panel fieldset div.error-message i {
                color: var(--error-background-color);
                margin-right: var(--size-1);;
            }


section.input-panel fieldset div.error-message span {
                color: var(--error-background-color);
            }


section.input-panel fieldset i.icon {
            font-size: 60%;   
            color: red;
        }


section.input-panel fieldset div.form-field:not(:last-child) {
            margin-bottom: var(--input-element-spacing);
        }


section.input-panel fieldset div.buttons {
            display: flex;
            justify-content: flex-end;
        }


section.input-panel fieldset button.btn {
            border: none;
            padding: .7rem;
            border: none;
            transition: background-color .7s ease-in-out;
            border-radius: var(--small-radius);
        }


section.input-panel fieldset button.btn-ok {
            background-color: var(--color-ok);            
            color: var(--gray-3);
        }


section.input-panel fieldset button.btn-ok:hover {
            /* Make --color-ok 20% darker. */
            background-color: color-mix(in srgb, var(--color-ok), black 20%);
            box-shadow: var(--shadow-3);
            cursor: pointer;
        }


@container sidebar (min-width: 700px) {
    .card {
      font-size: 2em;
    }
  }


.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mb-1 {
    margin-bottom: 1rem;
}


.mb-2 {
    margin-bottom: 2rem;
}


.mt-1 {
    margin-top: 1rem;
}


.mt-2 {
    margin-top: 2rem;
}


:root {
    --accent-color: var(--orange-7);
    --other: var(--red-8);
}


body {
    background-color: var(--green-7);
}


/* --md-n-below */


/* @media (width < 768px) { */


/* @custom-media --md-n-belowr  (width < 768px); */


@media (max-width: 767px) {   
    body {
        background-color: var(--red-7);
    }
}


.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    border: 1px solid blue;
}


@media (prefers-color-scheme: dark) {


    :root {
        --shadow-color: 220 40% 2%;
        --shadow-strength: 25%;
    }
}
