@import "./_configure.css";
@import "./_resets.css";
/* @import "./_page.css";   */
@import "./_forms.css";
@import "./_utility.css";

:root {
    --accent-color: var(--orange-7);
    --other: var(--red-8);
}

body {
    background-color: var(--green-7);
}



/* --md-n-below */
/* @media (width < 768px) { */ 
/* @custom-media --md-n-belowr  (width < 768px); */


@media (--md-n-below) {   
    body {
        background-color: var(--red-7);
    }
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    border: 1px solid blue;
}
